{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/pwd.css') }}">
{% endblock %}
{% block body %}
    {% include 'navbar.html.twig'%}
    <div class="container">
        <h1 class="h3 mb-1 font-weight-normal text-center pt-4">Mot de passe oublié</h1>
        <div class="forget">
            <form method="post">
                <p class="text-center">Veuillez entrer votre adresse mail pour réinitialiser votre mot de passe</p>
                <hr>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Envoyer</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}