{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% include 'navbar.html.twig'%}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal text-center pt-4">Mot de passe oublié</h1>
        <div class="container mt-5">

        <p>Veuillez entrer votre adresse email pour réinitialiser votre mot de passe</p>

<div class="mt-5">
    <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control w-25" placeholder="Email" required autofocus>

        <button class="btn btn-primary mt-2" type="submit">
            Envoyer
        </button>
</div>
</div>

    </form>
{% endblock %}