{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/pwd.css') }}">
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
{% endblock %}
{% block body %}
    {% include 'navbar.html.twig'%}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal text-center pt-4">Mot de passe oublié</h1>
        <div class="container mt-5">
            <div class="mt-5">
                <p>Veuillez entrer votre adresse mail pour réinitialiser votre mot de passe</p>
                <div class="password">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    <button class="btn btn-primary mt-2 w-25 align-self-end" type="submit">Envoyer</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}