{% extends 'base.html.twig' %}


{% block title %}Réinitialisation{% endblock %}

{% block body %}
{% include 'navbar.html.twig'%}
 <div class="container mt-5">
    <div>
        <h1 class="text-center pb-1">Réinitialisation du mot de passe</h1>
    </div>
            <div class="col-md mt-5">
                <form method="post">
                <div class="form-group">

                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <input type="hidden" name="token" value="{{ token }}">
                </div>

            <button class="btn btn-primary" type="submit">
                Sauvegarder
            </button>
        </form>
</div>
 </div>
{% endblock %}
