{% extends 'base.html.twig' %}
{% block title %}Réinitialisation{% endblock %}
{% block stylesheets %}
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e90458a561.js"></script>
{% endblock %}
{% block body %}
    {% include 'navbar.html.twig'%}
    <div class="container mt-5">
        <div>
            <h1 class="text-center pb-1">Réinitialisation du mot de passe</h1>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="col-md mt-5">
                        <form method="post">
                            <div class="form-group">
                                <div class="input-group" id="show_hide_password">
                                    <input type="password" name="password" id="input-password" class="form-control" placeholder="Nouveau mot de passe" required>
                                    <div class="input-group-addon mt-2">
                                        <a href=""><i class="fas fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <input type="hidden" name="token" value="{{ token }}">
                            </div>
                            <div class="form-group">
                                <div class="input-group" id="show_hide_password">
                                    <input type="password" name="password" id="input-password" class="form-control" placeholder="Confirmation" required>
                                    <div class="input-group-addon mt-2">
                                        <a href=""><i class="fas fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <input type="hidden" name="token" value="{{ token }}">
                            </div>
                            <button class="btn btn-primary" type="submit">Sauvegarder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('assets/js/show_hide.js') }}"></script>
    {% endblock %}
{% endblock %}


