{% extends 'base.html.twig' %}
{% block title %}Création fiche de connaissance{% endblock %}
{% block body %}
    {% include 'navbar.html.twig'%}
    <div class="example-wrapper">
        <div class="container">
            {{ form(formKnowledgesheet) }}
            <a href="{{ path('knowledgesheet') }}">Revenir à la liste</a>
        </div>
    </div>
{% endblock %}
