*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar-brand img{
    width: 170px;
    padding: 5px;
}
.bg-secondary {
    background-color: #255988 !important;
}
