{% extends "base.html.twig" %}
{% block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/css/admin.css"/>
{% endblock%}
{% block body %}
    {% include 'navbar.html.twig'%}
    <!-- start of the main content  -->
    <div class="content">
        <div class="row">
            <div class="col-sm-2" id="one">
                <div class="d-flex" id="wrapper" class="custom">
                    <div class="bg-light border-right" id="sidebar-wrapper">
                        <div class="list-group list-group-flush">
                            <a href= {{ path('users_index') }} class="list-group-item list-group-item-action bg-light">Utilisateur</a>
                            <a href={{ path('context_create') }} class="list-group-item list-group-item-action bg-light">Contexte</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10" id="tow">
                main content
            </div>
        </div>
    </div>
{% endblock %}
