{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}
    {% include 'navbar.html.twig'%}

    <div class="container">

        {% if app.user.id != user.id  %}
            <h1>Modification des utilisateurs</h1>
        {% else %}
            <h1>Mon compte</h1>
        {% endif %}

        {{ include('users/_form.html.twig', {'button_label': 'Mise à jour'}) }}


            <a href="{{ path('users_index') }}">Revenir à la liste</a>

        {% if app.user.id != user.id  %}
            {{ include('users/_delete_form.html.twig') }}
        {%  endif %}
    </div>


{% endblock %}
