{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    {%include 'navbar.html.twig'%}

    <div class="container">
        <h2 class="text-center pt-xl-5 pb-3">Créer un nouvel utilisateur</h2>
        {{ include('users/_form.html.twig') }}
        <a href="{{ path('users_index') }}">Revenir à la liste</a>
    </div>

{% endblock %}
