{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    {%include 'navbar.html.twig'%}

    <div class="container">
        <h1>Créer un nouvel utilisateur</h1>
        {{ include('users/_form.html.twig') }}
        <a href="{{ path('users_index') }}">Revenir à la liste</a>
    </div>

{% endblock %}
